<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>

<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563D7C; color:white;">
    Personal Loan Form
  </nav>
</div>

<form enctype="multipart/form-data" [formGroup]="myform">
  
  <div class="justify-content-center" style="width: 50%; height: auto;margin-left: 25%;margin-right: 25%;">

    <div style=" padding-left: 15%;padding-right: 15%;margin-top: 5%; ">
      <div
        style=" height: 40px; margin-top: 5%;margin-bottom: 10%;text-align: center; background-color:cornflowerblue;color: cornsilk;">
        <h4 style="padding-top: 5px;">Verification Form</h4>
      </div>
     
      <div *ngIf="showmsg2"  class="alert alert-success alert-dismissible fade show">
        <button (click)="closemsg2()" type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>OTP Not Match!</strong>.
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="city">City</label>
        <input type="text" formControlName="city" class="form-control"
          [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }" />

        <div *ngIf="f.city.touched && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">City is required</div>
        </div>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="panNumber">Pan Number</label>
        <input type="text" formControlName="panNumber" maxlength="10" class="form-control"
          [ngClass]="{ 'is-invalid': (f.panNumber.touched || submitted) &&(f.panNumber.errors) }" />

        <div *ngIf="(f.panNumber.touched || submitted) &&(f.panNumber.errors)" class="invalid-feedback">
          <div *ngIf="f.panNumber.errors.required">Pan Number is required</div>
          <div *ngIf="f.panNumber.errors.pattern">Pan Number must be a valid Pan Number</div>
        </div>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="fullname">Full Name</label>
        <input type="text" formControlName="fullname" maxlength="140" class="form-control"
          [ngClass]="{ 'is-invalid': (f.fullname.touched || submitted) &&(f.fullname.errors) }" />

        <div *ngIf="(f.fullname.touched || submitted) &&(f.fullname.errors)" class="invalid-feedback">
          <div *ngIf="f.fullname.errors.required">Full Name is required</div>
        </div>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': (f.email.touched || submitted) &&(f.email.errors)}" />
        <div *ngIf="(f.email.touched || submitted) &&(f.email.errors)" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>


      </div>


      <div class="form-outline mb-4">
        <label class="form-label" for="mobile">Mobile</label>
        <input type="text" formControlName="mobile" maxlength="10" class="form-control"
          [ngClass]="{ 'is-invalid': (f.mobile.touched || submitted) &&(f.mobile.errors) }" />

        <div *ngIf="(f.mobile.touched || submitted) &&(f.mobile.errors)" class="invalid-feedback">
          <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
          <div *ngIf="f.mobile.errors.pattern">Mobile must be a valid</div>
        </div>
      </div>

      <div class="form-outline mb-4">
        <label [hidden]='otptxt' class="form-label" for="otp">OTP</label>
        <input type="text" formControlName="otp" [hidden]='otptxt' maxlength="4" minlength="4" class="form-control"
          [ngClass]="{ 'is-invalid': (f.otp.touched) &&(f.otp.errors) }" />

        <div *ngIf="(f.otp.touched) &&(f.otp.errors)" class="invalid-feedback">
          <div *ngIf="f.otp.errors.required">Please Enter OTP</div>
          <div *ngIf="f.otp.errors.pattern">OTP must be a valid</div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col d-flex justify-content-center">

          <button type="submit" (click)="submitotp()" [disabled]="myform.invalid || getotp" name="getotp" id="getotp"
            class="btn btn-success btn-block">Get OTP</button>

        </div>

        <div class="col">
          <div *ngIf="c>3;then one else two"> </div>

          <ng-template #one>
            <h6 style="color: red;">Please try again after an hour</h6>
          </ng-template>
          <ng-template #two>
            <button type="submit" (click)="onSubmitresend()" [hidden]='resend' [disabled]='resenddisable'
              name="resend" id="resend" class="btn btn-danger btn-block">Resend OTP</button>
          </ng-template>
        </div>
      </div>

      <button [disabled]='verify||myform.invalid' (click)="verifyotp()"
        class="btn btn-primary btn-block">Verify</button>
    </div>
  </div>

</form>
</body>
</html>
